.access {
  @include flex-container(column, center, center);
  row-gap: 18px;
  background-color: $color3;
  padding-top: 49px;
  padding-bottom: 62px;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    padding-top: 121px;
    column-gap: 23px;
  }
}

.access__title {
  @include title(17px, 28px, $color8, 0 17px);

  @media (min-width: $tablet) {
    @include title(36px, 42px, $color8, 0 11%);
    text-align: left;
  }
}

.access__paragraph {
  @include paragraph(16px, 26px, $color8);
  margin: 26px 15px;

  @media (min-width: $tablet) {
    @include paragraph(18px, 28px, $color8);
    text-align: left;
    margin: 17px 11% 52px 11%;
  }
}

.access__link {
  @include button-link;

  &--colored {
    @include button-link-modified($color3, $color1, none);

    @media (min-width: $tablet) {
      margin-left: 11%;
    }
  }

  &--uncolored {
    @include button-link-modified($color1, $transparent, $link-border-2);
    padding: 15px 41px;
  }
}

.access__image-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 133px 48px 0 0;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 200px 0 75px 0;
  }
}

.access__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 800px;
  }
}

.access__picture {
  &--2 {
    position: absolute;
    top: -65px;
    right: 71px;

    @media (min-width: $tablet) {
      top: -138px;
      right: 238px;
    }

    &::after {
      @include panel(100px);
      background-size: contain;
      background-position: 0, 26px, 51px;
      height: 18px;
      width: 70px;
      bottom: -204px;
      left: 57px;

      @media (min-width: $tablet) {
        background-position: 0, 48px, 96px;
        height: 36px;
        width: 132px;
        bottom: -432px;
        left: 117px;
      }
    }
  }
}

.access__image {
  display: block;

  &--1 {
    margin: 0 auto;
    box-shadow: $box-shadow;
  }

  &--2 {
    position: absolute;
    border-radius: 10px;
    box-shadow: $box-shadow;
    border-radius: 18px;
    outline: 2px solid $color3;

    @media (min-width: $tablet) {
      outline: 5px solid $color3;
    }
  }
}

