.access {
  @include flex-container(column, center, center);
  row-gap: 18px;
  background-color: $color3;
  padding-top: 49px;
  padding-bottom: 32px;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    padding-top: 121px;
    column-gap: 23px;
  }
}

.access__title {
  @include title(17px, 28px, $color8, 0 17px);

  @media (min-width: $tablet) {
    @include title(36px, 42px, $color8, 0 11%);
    text-align: left;
  }
}

.access__paragraph {
  @include paragraph(16px, 26px, $color8);
  margin: 26px 15px;

  @media (min-width: $tablet) {
    @include paragraph(18px, 28px, $color8);
    text-align: left;;
    margin: 17px 70px 52px 73px;
  }
}

.access__link {
  @include button-link;

  &--colored {
    @include button-link-modified($color3, $color1, none);

    @media (min-width: $tablet) {
      margin-left: 76px;
    }
  }

  &--uncolored {
    @include button-link-modified($color1, $transparent, $link-border-2);
    padding: 15px 41px;
  }
}

.access__image-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 49px 48px 0 0;
}

.access__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 88px auto 30px auto;
}

.access__picture {
  &--2 {
    position: relative;
    margin-right: 28px;
  }
}

.access__image {
  display: block;

  &--1 {
    margin: 0 auto;
    box-shadow: $box-shadow;

    @media (min-width: $tablet) {

    }
  }

  &--2 {
    position: absolute;
    top: -259px;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-left: 69px;
    border-radius: 18px;
    outline: 2px solid $color3;
  }
}

