.access {
  @include flex-container(column, center, center);
  padding: 49px 20px 60px 20px;
  row-gap: 19px;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    padding: 104px 50px 56px 50px;
  }

  @media (min-width: $desktop) {
    @include grid-container(repeat(2, 1fr), 1fr, flex-start);
    padding: 152px 101px 201px 122px
  }
}

.access__content {
  @include flex-container(column, center, center);
  row-gap: 19px;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    column-gap: 23px;
  }

  @media (min-width: $desktop) {
    order: 2;
    padding: 61px 61px 0px 0;
  }
}

.access__title {
  @include title(17px, 28px, $color8, 0 17px);

  @media (min-width: $tablet) {
    @include title(36px, 42px, $color8, 0 11%);
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.access__paragraph {
  @include paragraph(16px, 26px, $color8);
  margin: 25px 15px;

  @media (min-width: $tablet) {
    @include paragraph(18px, 28px, $color8);
    text-align: left;
    margin: 17px 11% 53px 11%;
  }

  @media (min-width: $desktop) {
    margin: 17px 0 55px 0;
  }
}

.access__link {
  @include button-link;

  &--colored {
    @include button-link-modified($color3, $color1, none);

    @media (min-width: $tablet) {
      margin-left: 11%;
    }

    @media (min-width: $desktop) {
      margin: 0;
    }
  }

  &--uncolored {
    @include button-link-modified($color1, $transparent, $link-border-2);
    padding: 15px 41px;
  }
}

.access__image-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 133px 48px 0 0;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 219px 0 138px 0;
  }

  @media (min-width: $desktop) {
    order: 1;
    margin: 0;
  }
}

.access__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 800px;
  }
}

.access__picture {
  width: min-content;

  &--1 {
    position: relative;
    margin: 0 auto;
    z-index: 1;

    @media (min-width: $desktop) {
      margin: 143px 0 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -15px;
      width: 41px;
      height: 34px;
      background-image: url(../images/dots-3.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;

      @media (min-width: $tablet) {
        top: -33px;
        left: -32px;
        width: 87px;
        height: 82px;
      }
    }
  }

  &--2 {
    position: absolute;
    top: -65px;
    right: 71px;
    z-index: 2;

    @media (min-width: $tablet) {
      top: -138px;
      right: 238px;
    }

    @media (min-width: $desktop) {
      top: 5px;
      right: auto;
      left: 302px;
    }

    &::after {
      @include panel(100px);
      background-size: contain;
      background-position: 0, 26px, 51px;
      height: 18px;
      width: 70px;
      bottom: -204px;
      left: 57px;

      @media (min-width: $tablet) {
        background-position: 0, 48px, 96px;
        height: 36px;
        width: 132px;
        bottom: -432px;
        left: 117px;
      }
    }
  }
}

.access__image {
  display: block;

  &--1 {
    margin: 0 auto;
    box-shadow: $box-shadow;
  }

  &--2 {
    position: absolute;
    border-radius: 10px;
    box-shadow: $box-shadow;
    border-radius: 18px;
    outline: 2px solid $color3;

    @media (min-width: $tablet) {
      outline: 5px solid $color3;
    }
  }
}

