.footer {
  background-color: $color3;
}

.footer__container {
  @include flex-container(column, center, center);
  row-gap: 15px;
  padding: 32px 50px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    padding: 61px 50px 40px 50px;
    row-gap: 0;
  }

  @media (min-width: $desktop) {
    padding: 58px 172px 41px 172px;
  }
}

.footer__logo {
  & .logo {
    height: 70px;
    width: 70px;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 75px;

    & .logo {
      height: 100px;
      width: 100px;
    }
  }
}

.footer__paragraph {
  @include paragraph(16px, 22px, $color1);

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: flex-end;
  }
}

.footer__socials {
  @include flex-container(row, center, center);
  column-gap: 18px;

  @media (min-width: $tablet) {
    justify-self: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.footer__link {
  color: $color1;
  text-decoration: none;
}
