.group-calls {
  @include flex-container(column, center, center);
  background-color: $color3;
  background-image: url("../images/figure-1.svg");
  background-repeat: no-repeat;
  background-position: -350px -330px;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 57px;
}

.group-calls__title {
  @include title(17px, 28px, $color8, 0);
  text-align: center;

}

.group-calls__paragraph {
  @include paragraph(16px, 26px, $color8);
  margin: 44px 23px;

}

.group-calls__link {
  @include button-link;
  @include button-link-modified($color3, $color1, none);
  width: 222px;
}

.group-calls__image-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 94px 0 111px 0;
}

.group-calls__image-block {
  position: relative;
  margin: 0 auto;
  max-width: 430px;
}


.group-calls__picture {
  display: block;
  height: 300px;

  margin: 0 auto;

  &--1 {
    position: relative;
    width: min-content;
    &::before {
      @include shadow(100%);
    }

    &::after {
      @include panel(0);
    }
  }

  &--2 {
    position: absolute;
    top: 162px;
    left: 100%;
    transform: translate(-100%)
  }
}

.group-calls__image {
  box-shadow: $box-shadow;

  &--1 {
    border-radius: 20px;
  }

  &--2 {
    border-radius: 15px 15px 10px 10px;
  }
}


