.header__container {

}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 24px 51px;
  }
}

.header__menu-button {
  @include button-link-modified(none, $transparent, none);
  padding: 5px;

  @media (min-width: $tablet) {
    display: none;
  }
}
