.header__navigation {
  position: relative;

  @media (min-width: $tablet) {
    @include flex-container(row, center, space-between);
    padding: 24px 100px;
  }

  @media (min-width: $desktop) {
    padding: 24px 172px;
  }
}

.header__panel {
  @include flex-container(row, center, space-between);
  padding: 10px 20px;

  @media (min-width: $tablet) {
    order: 1;
    padding: 0;
  }
}

.header__menu-button {
  @include button-link-modified(none, $transparent, none);
  padding: 5px;

  @media (min-width: $tablet) {
    display: none;
  }
}
