.introduction {
  @include flex-container(column, center, center);
  row-gap: 18px;
  padding-top: 41px;
}

.introduction__title {
  @include title(24px, 32px, $color3);
  text-align: center;
}

.introduction__paragraph {
  @include paragraph(13px, 20px, $color3);
  text-align: center;
  margin: 29px 23px;

  &:nth-of-type(2) {
    margin: 0 23px;
  }
}

.introduction__link {
  @include button-link;

  &--colored {
    @include button-link-modified($color1, $color3, none);
  }

  &--uncolored {
    @include button-link-modified($color3, $transparent, $link-border-1);
  }
}

.introduction__image-wrapper {
  width: 100%;
  padding: 53px 22px 64px 22px;
  box-sizing: border-box;
}

.introduction__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 380px;
  max-height: 1050px;
  margin: 0 auto;
  row-gap: 31px;
  z-index: 1;
}

.introduction__picture {
  &--1 {
    align-self: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: -24px;
      background-image: url("../images/dots-2.svg");
      background-repeat: no-repeat;
      width: 101px;
      height: 39px;
      z-index: -1;
    }
  }

  &--2 {
    align-self: flex-end;

    &::before {
      content: "";
      position: absolute;
      bottom: -17px;
      right: -23px;
      background-image: url("../images/dots-1.svg");
      background-repeat: no-repeat;
      width: 73px;
      height: 59px;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 141px;
      right: -23px;
      background-image: url("../images/figure-3.svg");
      background-repeat: no-repeat;
      width: 102px;
      height: 101px;
      z-index: -1;
    }
  }
}

.introduction__image {
  &--2 {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
    max-width: 271px;
  }

  &--4 {
    display: none;
  }
}

