.logo {
  display: block;
  height: 45px;
  width: 45px;
  transition: 0.2s ease-in-out;

  @media (min-width: $tablet) {
    height: 70px;
    width: 70px;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.98);
  }
}

.logo__image {
  width: 100%;
}
