.menu {
  @include menu-text;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;

  @media (min-width: $tablet) {
    position: static;
    display: block;
    width: auto;
    max-width: 400px;
    order: 2;
    background-color: $transparent;
  }

  @media (min-width: $desktop) {
    max-width: 800px;
  }

  &--show {
    display: block;
  }

  &--no-js {
    position: static;
    box-shadow: $box-shadow-4;
  }
}

.menu__list {
  column-gap: 31px;
  row-gap: 30px;
  background-color: $color1;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    background-color: $transparent;
  }
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $color3;
  border-bottom: 2px solid darken($color1, 20%);
  padding: 15px;

  @media (min-width: $tablet) {
    border-top: none;
    border-bottom: none;
    padding: 0;
  }
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;

  @media (min-width: $tablet) {
    .menu__item:hover & {
      transform: scale(1.2);
      color: $color2;
      text-shadow: 2px 2px 3px $color1;
    }

    .menu__item:active & {
      transform: scale(0.99);
      opacity: 0.7;
    }
  }
}

.menu__close {
  @include button-link-modified(none, $transparent, none);
  display: none;
  position: absolute;
  right: 13px;
  top: 13px;
  padding: 0;
  fill: $color3;

  &--show {
    display: block;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

