.menu {
  @include menu-text;
  display: none;
  padding: 20px;
  position: absolute;
  width: calc(100% - 40px);
  z-index: 2;
  left: 0;
  top: 0;
  background: $color1;

  &--show {
    display: block;
  }

  @media (min-width: $tablet) {
    display: block;
    max-width: 300px;
  }

  @media (min-width: $desktop) {
    max-width: 800px;
  }
}

.menu__list {
  column-gap: 31px;
  row-gap: 30px;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
  }
}

.menu__item {
  display: block;
}

.menu__link {
  text-decoration: none;
  color: inherit;

}


.menu__close {
  @include button-link-modified(none, $transparent, none);
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  @media (min-width: $tablet) {
    display: none;
  }
}

