.security {
  @include flex-container(column, center, center);
  background-color: $color3;
  padding-top: 45px;
}

.security__title {
  @include title (17px, 28px, $color8, 0);
}

.security__paragraph {
  @include paragraph(16px, 26px, $color8);
  margin: 45px 15px;
}

.security__link {
  @include button-link;
  @include button-link-modified($color3, $color1, none);
  width: 222px;
}

.security__image-wrapper {
  width: 100%;
  margin: 88px auto 50px auto;
}

.security__image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 488px;
  max-height: 1050px;
  margin: 0 auto;
}

.security__picture {
  &--1 {
    position: relative;
    width: min-content;
    margin: 0 auto;

    &::before {
      @include shadow(100%);
    }

    &::after {
      @include panel(0);
    }
  }

  &--2 {
    position: relative;
    margin-right: 28px;
  }
}

.security__image {
  display: block;

  &--1 {
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: $box-shadow;
  }

  &--2 {
    position: absolute;
    top: -137px;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}

