.streams {
  @include flex-container(column, center, center);
  padding-top: 47px;
}

.streams__title {
  @include title(24px, 32px, $color3, 0);
}

.streams__paragraph {
  @include paragraph(16px, 26px, $color3);
  margin: 44px 18px;
}

.streams__link {
  @include button-link;

  &--colored {
    @include button-link-modified($color1, $color3, none);
  }
}

.streams__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 90px 0 65px 0;
  border-radius: 10px;

  &::after {
    @include panel(0);
    bottom: 5px;
  }
}

.streams__picture {
  display: block;
  position: relative;
  width: min-content;
  margin: 0 auto;
  box-shadow: $box-shadow;

  &::before {
    position: absolute;
    top: 14px;
    left: 13px;
    content: "";
    width: 50px;
    height: 10px;
    background: url("../images/dots-4.svg") no-repeat;
  }
}

.streams__image {
  display: block;
  border-radius: 10px;
}
