.streams {
  @include flex-container(column, center, center);
  padding: 47px 20px 30px 20px;
  background: $background;

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
    row-gap: 44px;
    padding: 92px 50px 94px 47px;
  }

  @media (min-width: $desktop) {
    @include grid-container(repeat(2, 1fr), 1fr, flex-start);
    padding: 103px 122px 106px 172px;
  }
}

.streams__content {
  @include flex-container(column, center, center);

  @media (min-width: $tablet) {
    @include flex-container(row, center, flex-start);
  }

  @media (min-width: $desktop) {
    order: 1;
  }
}

.streams__title {
  @include title(24px, 32px, $color3, 0);

  @media (min-width: $tablet) {
    @include title(36px, 42px, $color3, 0 11%);
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.streams__paragraph {
  @include paragraph(16px, 26px, $color3);
  margin: 44px 18px;

  @media (min-width: $tablet) {
    @include paragraph(18px, 28px, $color3);
    text-align: left;
    margin: 44px 11%;
  }

  @media (min-width: $desktop) {
    margin: 34px 44px 44px 0px;
  }
}

.streams__link {
  @include button-link;

  @media (min-width: $tablet) {
    margin-left: 11%;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }

  &--colored {
    @include button-link-modified($color1, $color3, none);
  }
}

.streams__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 90px 0 35px 0;
  border-radius: 10px;

  @media (min-width: $tablet) {
    overflow: visible;
    margin: 16px 0 30px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    order: 2;
  }

  &::after {
    @include panel(0);
    bottom: 5px;
    z-index: 2;

    @media (min-width: $desktop) {
      bottom: auto;
      top: 252px;
    }
  }
}

.streams__picture {
  display: block;
  position: relative;
  width: min-content;
  margin: 0 auto;
  box-shadow: $box-shadow;
  z-index: 1;

  @media (min-width: $desktop) {
    height: 0;
    top: -161px;
    left: 0;
  }

  &::after {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      background-image: url("../images/dots-4.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      bottom: -34px;
      left: -52px;
      width: 86px;
      height: 102px;
    }

    @media (min-width: $desktop) {
      top: 388px;
      left: -51px;;
    }
  }
}

.streams__image {
  display: block;
  border-radius: 10px;

  &--2 {
    box-shadow: $box-shadow;
  }
}
