.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .logo {
//   fill: $gold;
//   transition: .3s;

//   &:hover {
//     fill: $white;
//     transform: scale(1.3);
//   }

//   &:active {
//     opacity: 0.4;
//   }
// }

// .link {
//   &:hover {
//     border: 1px solid darken($gold, 10%);
//     background-color: darken($gold, 10%);
//     transition: .3s;
//     transform: scale(1.1);
//   }

//   &:active {
//     opacity: 0.4;
//   }
// }

// .button {
//   &:hover {
//     cursor: pointer;
//     background: darken($gold, 10%);
//   }

//   &:active {
//     opacity: 0.4;
//   }
// }

// .item {
//   color: $white;
//   text-decoration: none;
//   transition: .3s;

//   &:hover {
//     @media (min-width: $desktop) {
//       color: $gold;
//       transform: scale(1.1);
//       transition: .3s;
//     }

//   }

//   &:active {
//     opacity: 0.4;
//   }
// }

// .icon {
//   fill: $white;
//   cursor: pointer;
//   transition: .3s;

//   &:hover {
//     transform: scale(1.5);
//   }

//   &--vk:hover {
//     fill: $vk-color;
//     transform: scale(1.5);
//   }

//   &--vk:active {
//     fill: darken($vk-color, 20%)
//   }

//   &--twitter:hover {
//     fill: $twitter-color;
//     transform: scale(1.5);
//   }

//   &--twitter:active {
//     fill: darken($twitter-color, 20%)
//   }

//   &--facebook:hover {
//     fill: $facebook-color;
//     transform: scale(1.5);
//   }

//   &--facebook:active {
//     fill: darken($facebook-color, 15%)
//   }
// }

// .arrow  {
//   cursor: pointer;
//   transition: .3s;

//   .slider:hover & {
//     transform: scale(1.5);
//   }

//   .slider:active & {
//     opacity: 0.4;
//   }
// }
