@mixin menu-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color3;
  word-break: break-word;
}

@mixin title($font-size, $line-height, $color, $margin: 0 23px) {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  word-break: break-word;
  margin: $margin;
  text-align: center;
}

@mixin paragraph($font-size, $line-height, $color) {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  word-break: break-word;
  text-align: center;
}

@mixin flex-container($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid-container($columns, $rows, $align:center, $justify:center) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  align-items: $align;
  justify-content: $justify;
}

@mixin panel($bottom) {
  position: absolute;
  bottom: $bottom;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 38px;
  width: 104px;
  background: url("../images/icons/disable-video-icon.svg"),
              url("../images/icons/disable-call-icon.svg"),
              url("../images/icons/mute-icon.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 0px, 37px 0, 75px 0;
}

@mixin shadow($width) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 100%;
  width: $width;
  background: $box-shadow-2;
  border-radius: 20px;
}

@mixin button-link()  {
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
  outline: none;
  font-size: 12px;
  line-height: 15px;
  word-break: break-word;
  box-sizing: border-box;
  padding: 13px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 41px;
  border-radius:5px;
  min-width: 222px;

  @media (min-width: $tablet) {
    min-width: auto;
    padding: 15px 35px;
  }
}

@mixin button-link-modified($text-color, $background-color, $border) {
  color: $text-color;
  background-color: $background-color;
  border: $border;
}


