//device-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

//colors
$color1: #000000;
$color2: #FFFFFF;
$color3: #C7C7C7;
$color4: #F1BD45;
$color5: #DEDEDE;
$color6: #989898;
$color7:  #8B8B8B;
$color8: #B9B9B9;
