//device-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

//colors
$color1: #5540BF;
$color2: #AFA1F9;
$color3: #FFFFFF;
$color4: #FFD100;
$color5: #333333;
$color6: #9BD9F9;
$color7: #FF4550;
$color8: #000000;
$color9: #C4C4C4;
$color10: #E5E5E5;
$facebook: #3b5998;
$vk: #597da3;
$whatsup: #25D366;
$telegram: #0088cc;
$transparent: transparent;

//effects
$link-border-1: 1px solid $color3;
$link-border-2: 1px solid $color1;
$background: linear-gradient(78deg,#5540bf 36%,#afa1f9 99%);
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
$box-shadow-1:rgba(51, 51, 51, 0.5);
$box-shadow-2: linear-gradient(120deg, rgba(51, 51, 51, 0) 35%, #333333 99%);
$box-shadow-3: 0px 0px 100px rgba(175, 161, 249, 0.3);
$box-shadow-page: 0px 0px 50px 0px rgba(34, 60, 80, 0.2);
