//device-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

//colors
$color1: #5540BF;
$color2: #AFA1F9;
$color3: #FFFFFF;
$color4: #FFD100;
$color5: #333333;
$color6: #9BD9F9;
$color7: #FF4550;
$color8: #000000;
$color9: #C4C4C4;
$background: linear-gradient(51.78deg, $color1 28.44%, $color2 99.76%);
